/* Navigation Bar */ 
/************************************************/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
    .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/************************************************/
/* Dropdown menu after clicking on 3 bars */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/************************************************/
/* intro and image */
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Montserrat'
  
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 font-family: 'Montserrat';
  text-align: center;
  white-space: nowrap;
}

#section01 { background: url(/images/Waterfall.jpg) center center / cover no-repeat;
  width: 100%
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 font-family: 'Montserrat';
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

/************************************************/
.row-centered {
    text-align: center;
    padding: 150px;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right: -4px;
}
.col-md-4 {
  height: 400px;
}
.col-md-8 {
  height: 400px;
}

#grad1 {
  height: 100px
  background-image: linear-gradient(to bottom, black, grey)
}

p {
  color:white;
  font-size:18px;
  font-family: 'Montserrat';
}

pre {
  color:white;
  font-size:475%;
  font-family: 'Montserrat';
}

.container-fluid input {
  width: 100%;
  clear: both;
}

textarea
{
  width:100%;
}

label
{
  color:white;
}

.button
{
  color:#01756A;
}
