@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.eot');
    src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff'),
         url('../fonts/poppins-bold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.eot');
    src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.ttf') format('truetype'),
         url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.eot');
    src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body{
  position:absolute;
  font-family: 'Open Sans', arial, sans-serif;
  background:rgb(123, 158, 158);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18;

}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  z-index: 998;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 1%;
  background: #323232;
  text-align: center;
}

#portrait {
  height: auto;
  width: auto;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  background: #FFFFFF;
}

#portrait img {
    height: auto;
    width: 120%;
}

.button {
  display: inline-block;
  font-family = "poppinssemibold"
  height: auto;
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  -o-transition: all 0.3s linear 0s; 
  -moz-transition: all 0.3s linear 0s; 
  -ms-transition: all 0.3s linear 0s; 
  -webkit-transition: all 0.3s linear 0s; 
  transition: all 0.3s linear 0s;
  background: #C9ABD2;
}

.button:hover {
  background: #D096E1;
}
.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#7b9e9e), color-stop(75%, rgba(123, 170, 158, 0.9)), to(rgba(123, 145, 158, 0.7)));
  background: linear-gradient(to bottom, #7b9e9e 0%, rgba(123, 170, 158, 0.9) 75%, rgba(123, 145, 158, 0.7) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

/* TEXT */
#sidebar p.name {
  height: auto;
  width: auto;
  margin: 0;
  font-family: poppinsbold;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #6cb3dd;
}

#sidebar p.title {
  height: auto;
  width: auto;
  margin: 0;
  font-family: poppinslight;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #F9F9F9;
}
    
    
    
    
    
