/* FONT */

a {
    text-decoration: none;
    color: #C9ABD2;
}

/* Body */
body{
  position:absolute;
  font-family: 'Nunito';
  background:rgb(123, 158, 158);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18;

}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  z-index: 998;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 1%;
  background: #323232;
  text-align: center;
}

#portrait {
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  background: #FFFFFF;
}

#portrait img {
    height: auto;
    width: 120%;
}

.button {
  display: inline-block;
  font-family = 'poppinslight'"
  height: auto;
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  -o-transition: all 0.3s linear 0s; 
  -moz-transition: all 0.3s linear 0s; 
  -ms-transition: all 0.3s linear 0s; 
  -webkit-transition: all 0.3s linear 0s; 
  transition: all 0.3s linear 0s;
  background: #C9ABD2;
  color: white;
}

.button:hover {
  background: #D096E1;
}
.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#212a3b), color-stop(75%, rgba(123, 145, 158, 0.9)), to(rgba(123, 158, 158, 1)));
  background: linear-gradient(to bottom, #212a3b 0%, rgba(123, 145, 158, 0.9) 75%, rgba(123, 158, 158, 1) 100%);
  text-align: center;
}

.about-section p {
  margin-bottom: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.row {
    display: flex;
}
        
        
/* TEXT */
#sidebar p.name {
  height: auto;
  width: auto;
  margin: 0;
  font-family: 'Penultimate';
  font-weight: bold;
  font-size: 2.5em;
  line-height: 3em;
  color: #6cb3dd;
}

#sidebar p.title {
  height: auto;
  width: auto;
  margin: 0;
  font-family: 'Penultimate';
  font-size: 1.5em;
  line-height: 1.5em;
  color: #F9F9F9;
}

.left h2 {
  font-family: 'Penultimate';
  text-align: center;
  font-size: 1.2em;
}

.left p {
  font-family: 'Nunito';
  padding: 0 10px;
  font-size: 1em;
}
.sections {
    font-family: 'Nunito';
    font-size: 18px;
    text-align: center;
}
    
/* GRID */
.left, .right {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: auto;
  background: none;
}

.right {
  left: 50%;
  overflow: hidden;
}

.right img {
  height: auto;
  width: 120%;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10 {
  overflow: hidden;
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 0;
  width: 100%;
  background: #FFFFFF;
  -o-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -moz-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -ms-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -webkit-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  transition: transform 0.6s linear 0s, height 0s linear 0.6s;
}
    
#item1:target, #item2:target, #item3:target, #item4:target, #item5:target, #item6:target, #item7:target, #item8:target, 
#item9:target, #item10:target {
  height: 100%;
  overflow: auto;
  -o-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -moz-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -ms-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -webkit-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  transition: transform 0.6s linear 0s, height 0s linear 0s;
  -o-transform: translateZ(0) translateX(-100%);
  -moz-transform: translateZ(0) translateX(-100%);
  -webkit-transform: translateZ(0) translateX(-100%);
  -ms-transform: translateZ(0) translateX(-100%);
  transform: translateZ(0) translateX(-100%);
}    
#grid {
  width: 70%;
  margin: 25px 0 0 30%;
  padding: 20px 2%;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

#grid li {
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  list-style-type: none;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
  cursor: pointer;
}

#grid li * {
  visibility: visible;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  background: #FFFFFF;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
}

#grid li:nth-child(6n+1), #grid li:nth-child(6n+2), #grid li:nth-child(6n+3) {
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+1) { 
  margin-left: 0.5%;
}

#grid li .hexagon img {
  left:-100%;
  right:-100%;
  height:100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
}

#grid li:hover img {
  height: 150%;
  -o-transform: translateZ(0) translateX(-25%);
  -moz-transform: translateZ(0) translateX(-25%);
  -webkit-transform: translateZ(0) translateX(-25%);
  -ms-transform: translateZ(0) translateX(-25%);
  transform: translateZ(0) translateX(-25%);
}

#grid li .hexagon .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0);
}

#grid li:hover .overlay {
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
  background: rgba(255,255,255,0.6);
}

    
    
